<div class="page-container">

  <!-- ===== PAGE HERO ===== -->
  <div class="page-hero">
    <div class="page-hero-text">

      <h1> Additional Info</h1>
      <p> Keep your health profile complete and up to date</p>
    </div>

    <div class="page-hero-icon">
      <i class="fa-solid fa-dna"></i>
    </div>
  </div>

  <div class="page-card">
    <h2>Add Additional Health Info</h2>

    <div class="form-group">
      <label>Emergency Contact</label>
      <input type="text" placeholder="Phone Number" [(ngModel)]="emergencyContact" maxlength="10" inputmode="numeric"
        (input)="allowNumbersOnly()" (keypress)="blockLetters($event)">
    </div>

    <div class="form-group">
      <label>Allergies</label>
      <input type="text" [(ngModel)]="allergies">
    </div>

    <div class="form-group">
      <label>Additional Notes</label>
      <textarea rows="4" [(ngModel)]="notes"></textarea>
    </div>

    <button class="save-btn" (click)="save()"
      [disabled]="!emergencyContact?.trim() || !allergies?.trim() || !notes?.trim()">
      Save Info
    </button>
    <!-- ================= PAST RECORDS ================= -->
    <div class="past-info-section" *ngIf="pastRecords.length > 0">

      <h3>Previous Saved Information</h3>

      <div class="past-card" *ngFor="let record of pastRecords">

        <div class="past-row">
          <strong>Emergency Contact:</strong>
          <span>{{ record.emergencyContact }}</span>
        </div>

        <div class="past-row" *ngIf="record.allergies">
          <strong>Allergies:</strong>
          <span>{{ record.allergies }}</span>
        </div>

        <div class="past-row" *ngIf="record.medical_notes">
          <strong>Medical Notes:</strong>
          <span>{{ record.medical_notes }}</span>
        </div>

        <div class="past-date">
          Saved on: {{ record.created_at | date:'medium' }}
        </div>
      </div>
    </div>
  </div>
</div>